<main class="song_formatter">
  <section class="pre_conversion">
    <h1>Chord Pro Formats:</h1>
    <!-- <form action="save" method="post"> -->
    <%= form_tag(:action=>'save', :method=>'post', :multipart=>true) do %>
      <textarea name="song[chordpro]" id="" cols="30" rows="10">
        <% if @song %>
          <%= @song.chordpro %>
        <% end %>
      </textarea>
      <%= hidden_field_tag "song[html]", id:"htmlForm" %>
      <%= hidden_field_tag "song[title]", id:"songTitle" %>
      <%= hidden_field_tag "song[artist]", id:"songArtist" %>
      <% if @song %><%= hidden_field_tag "song[id]", @song.id %><% end %>
      <%= submit_tag "Add Song", id: "submit" %>
    <% end %>
    
  </section>

  <section class="converted">
    <div class="output">
      <h1>Output Conversion:</h1>
      <div class="html_converted"></div>
    </div>
  </section>
</main>

<script>
  var ajaxHtmlConversion = function (data) {
    $.ajax({
      url: '/songs/conversion',
      method: 'post',
      dataType: "json",
      data: { content: $content.trim() }
    }).done(function(data){
      console.log(data);
      $pre = $('<pre>').append(data.html);
      $('.html_converted').empty().html($pre);
      $('#song_html').val(data.html);
      $('#song_title').val(data.song_title);
      $('#song_artist').val(data.song_artist);

    }).fail(function() {
      console.log("Sorry, conversion failed");
    });
  };
  $(document).ready(function() {
    $content = $('section.pre_conversion textarea').val();
    ajaxHtmlConversion($content);
  });

  $('section.pre_conversion').on('change keyup paste', 'textarea', function() {
    $content = $(this).val();
    ajaxHtmlConversion($content);
  });

</script>
