<h1>Converter: Songs Formatter</h1>

<main class="song_formatter">
  <section class="pre_conversion">
    <h1>Chord Pro Formats:</h1>
    <!-- <form action="save" method="post"> -->
    <%= form_tag(:action=>'save', :method=>'post', :multipart=>true) do %>
      <textarea name="song[chordpro]" id="" cols="30" rows="10">
{soh}
{t: Bless The Lord}
{artist: Matt Redman}
{eoh}

{soc}
{comment: Verse 1}
The [Bb]sun comes [Gmaj7]up
It's a [D#]new day [Em]dawning
[C]It's time to [G]sing Your [D]song [Em]again
What[C]ever may [G]pass
And what[D]ever lies be[Em]fore me
[C]Let me be [G]singing ?
When the [D]evening [A/F#]comes
{eoc}

{sow}
{comment: Verse 2}
You're rich in love
And You're slow to anger
Your name is great
And Your heart is kind
For all Your goodness
I will keep on singing
Ten thousand reasons
For my heart to find
{eow}

      </textarea>
      <%= hidden_field_tag "song[html]", id:"htmlForm" %>
      <%= hidden_field_tag "song[title]", id:"songTitle" %>
      <%= hidden_field_tag "song[artist]", id:"songArtist" %>
      <%= submit_tag "Add Song", id: "submit" %>
    <% end %>
  </section>

  <section class="converted">
    <div class="output">
      <h1>Output Conversion:</h1>
      <div class="html_converted"></div>
    </div>
  </section>
</main>

<script>
  var ajax_html_conversion = function (data) {
    $.ajax({
      url: '/songs/conversion',
      method: 'post',
      dataType: "json",
      data: { content: $content.trim() }
    }).done(function(data){
      console.log(data);
      $pre = $('<pre>').append(data.html);
      $('.html_converted').empty().html($pre);
      $('#song_html').val(data.html);
      $('#song_title').val(data.song_title);
      $('#song_artist').val(data.song_artist);

    });
  };
  $(document).ready(function() {
    $content = $('section.pre_conversion textarea').val();
    ajax_html_conversion($content);
  });

  $('section.pre_conversion').on('change keyup paste', 'textarea', function() {
    $content = $(this).val();
    ajax_html_conversion($content);
  });

</script>
