<!DOCTYPE html>
<html>
<head>
  <title>Chordie</title>
  <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Montserrat" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="logo">CHORDIE</div>
    <nav class="primary_nav right">
      <ul>
        <a href="/songs/new"><li>Add Song</li></a>
        <a href="/"><li>Song Library</li></a>
      </ul>
    </nav>
  </header>
  <div class="main_container">
    <%= yield %>
  </div>
</body>
</html>
